<!-- LIST -->
<div class=col-md-12>
    
  <form id="form-list-client">
          <legend>Countries</legend>
  
  <div class="pull-right">
     
    <a class="btn btn-default-btn-xs btn-success" (click)="BindAllCountries()">Refresh</a>
      <a class="btn btn-default-btn-xs btn-success" (click)="onAddEdit('')">New</a>
  </div>
  <table class="table table-bordered table-condensed table-hover" *ngIf="countries">
      <thead>
          <tr>
              <td>Rank</td>
              <th>Country</th>
              <th>Flag</th>
              <th>Actions</th>
          </tr>
              
      </thead>
      <tbody id="form-list-client-body">
          <tr *ngFor="let country of countries">
              <td>{{country.rank}}</td>
              <td>{{country.name}}</td>
              <td class="w-25">
                <img [src]="country.flagImage" class="img-fluid img-thumbnail" >
              </td>
              <td>
                  
                  <a class="btn btn-default btn-sm "  (click)="onAddEdit(country.countryId)">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                  </a>
                  <a class="btn btn-default btn-sm " (click)="onADelete(country.countryId)">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                  </a>
                 
              </td>
          </tr>
      </tbody>
  </table>
  </form>

  
</div>
