<!-- LIST -->
<div class=col-md-12>
    
  <form id="form-list-client">
          <legend>List of clients</legend>
  
  <div class="pull-right">
     
      <a class="btn btn-default-btn-xs btn-success" (click)="onAddEdit('')">New</a>
  </div>
  <table class="table table-bordered table-condensed table-hover">
      <thead>
          <tr>
              <td>Rank</td>
              <th>Country</th>
              <th>Flag</th>
              <th>Actions</th>
          </tr>
              
      </thead>
      <tbody id="form-list-client-body">
          <tr>
              <td>Eduardo</td>
              <td>eluz@counterpath.com</td>
              <td class="w-25">
                <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/sheep-3.jpg" class="img-fluid img-thumbnail" alt="Sheep">
              </td>
              <td>
                  
                  <a class="btn btn-default btn-sm "  (click)="onAddEdit('123')">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                  </a>
                  <a class="btn btn-default btn-sm " (click)="onADelete('123')">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                  </a>
                 
              </td>
          </tr>
      </tbody>
  </table>
  </form>

  
</div>
